
version: '3'

services:
  db:
    image: postgres:17.4
    container_name: anylist-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - /Users/alan/Desktop/docker-data/anylist-postgres-db:/var/lib/postgresql/data